:root {
        --background-color: #e6e9ea;
        --bheader-color: #e6e9ea;
        --txtheader-color: #694b21;
        --bpost-color: #af9d6e;
        --txtpost-color: #121510;
        --tlsection-color: #694b21;
        --tmpost-color: #301a17;
        --brpost-color: #694b21;
    }

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222b36;
        --bheader-color: #373230;
        --txtheader-color: #cfd0d1;
        --bpost-color: #59483e;
        --txtpost-color: #cfd0d1;
        --tlsection-color: #a7aaab;
        --tmpost-color: #edd2b0;
        --brpost-color: #cfd0d1;
    }
}

body {
    background-color: var(--background-color);
    font-family: georgia, serif;
    margin: 0;
}

.header {
    background-color: var(--bheader-color);
    color: var(--txtheader-color);
    padding: 16px;
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--bpost-color);
}

section {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 2px;
}

section h2 {
    color: var(--tlsection-color);
}

.post {
    background-color: var(--bpost-color);
    color: var(--txtpost-color);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.post time{
    color: var(--tmpost-color);
    margin: 5px;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    white-space: nowrap;
    border: 1px solid var(--brpost-color);
    padding: 5px;
    border-radius: 15px;
    
}

.post h3 {
    color: var(--tmpost-color);
    display: inline-block;
    margin: 10px;
}
